.version.sign_in /* version checker */
{
	color: #00001D;
	background-color: #610AF4;
}

#page
{
	z-index: 1;
	min-height: 619.7499999999999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 12px;
	padding-bottom: 266.2500000000001px;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#pu351
{
	width: 23.29%;
	margin-left: 2.97%;
}

#u351
{
	z-index: 3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 25.51%;
}

#u351_img
{
	width: 100%;
}

#u361-4
{
	z-index: 5;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 63.76%;
	left: 36.25%;
}

#u348
{
	z-index: 2;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

#u364-4
{
	z-index: 9;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 67px;
	position: relative;
	width: 36.41%;
	margin-left: 6.1%;
}

#u367-4
{
	z-index: 13;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #C8C8C8;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 87.19%;
	margin-left: 6.25%;
}

#u370-4
{
	z-index: 17;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 32px;
	position: relative;
	width: 36.41%;
	margin-left: 6.1%;
}

#u371-4
{
	z-index: 21;
	min-height: 27px;
	border-style: solid;
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #C8C8C8;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
	width: 87.19%;
	margin-left: 6.25%;
}

#u367-4:hover,#u371-4:hover
{
	border-color: #91FFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 87.19%;
	margin: 6px 0px 0px 6.25%;
}

#u376
{
	z-index: 25;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 9px;
	margin-top: 67px;
	position: relative;
	width: 87.5%;
	margin-left: 5.94%;
}

#u376:hover
{
	border-color: #91FFFF;
	background-color: #91FFFF;
	min-height: 0px;
	width: 87.5%;
	margin: 67px 0px 0px 5.9375%;
}

#u379-4
{
	z-index: 26;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 18.93%;
	left: 40.54%;
}

#u382-4
{
	z-index: 30;
	min-height: 29px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 18px;
	line-height: 22px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
	width: 27.51%;
	margin-left: 36.41%;
}

#u382
{
	text-decoration: underline;
}

#pu385
{
	margin-top: 21px;
	width: 87.5%;
	margin-left: 6.25%;
}

#u385
{
	z-index: 34;
	height: 1px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 100%;
}

#u388-4
{
	z-index: 35;
	min-height: 29px;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 5.72%;
	left: 47.33%;
}

#u391
{
	z-index: 39;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 9px;
	margin-top: 57px;
	position: relative;
	width: 87.5%;
	margin-left: 5.94%;
}

#u391:hover
{
	border-color: #91FFFF;
	background-color: #91FFFF;
	min-height: 0px;
	width: 87.5%;
	margin: 57px 0px 0px 5.9375%;
}

#u392-4
{
	z-index: 40;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 30px;
	text-indent: 2px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 18.93%;
	left: 40.54%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

